<section *ngIf="dataLoaded; else skeleton">
    <main class="container mt-2">
        <div class="row">
            <div class="col-lg-2 col p-2">
                <div class="user-img m-2 mr-auto ml-auto">    
                    <img src="/assets/img/profile.png" class="img-fluid rounded-circle" alt="profile pic">
                </div>
            </div>
            <div class="col-lg-10 pt-3">
                <h2 class="display-5 text-capitalize">{{ user.name }}</h2>
                <p class="lead">{{ user.email }}</p>
                <a href="#" class="btn btn-primary mr-1">Edit Profile</a><a href="#" class="btn btn-secondary">Settings</a>
            </div>
        </div>
      </main>
      <section>
        <div class="pt-2 pb-4 text-center"><h5>My Repository</h5></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 mb-4" *ngFor="let repo of repodata">
                        <div class="card ">
                            <img class="card-img-top" src="{{ repo.imageUrl }}">
                            <div class="card-body text-center">
                                    <h5 class="card-title">{{ repo.title }}</h5>
                                    <p class="card-text">{{ repo.description }}</p>
                                <div class="form-inline">
                                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto">View</a>
                                </div>  
                            </div>
                        </div>
                </div>
            </div>
        </div>
      </section>
</section>


<ng-template #skeleton>
    <main class="container mt-2">
        <div class="row">
            <div class="col-lg-2 col p-2">
                <div class="user-img m-2 mr-auto ml-auto">    
                    <img src="/assets/img/user.svg" class="img-fluid rounded-circle">
                </div>
            </div>
            <div class="col-lg-10 pt-3">
                <h2 class="display-5 text-capitalize"></h2>
                <p class="lead"></p>
                <a href="#" class="btn btn-secondary mr-1"></a><a href="#" class="btn btn-secondary"></a>
            </div>
        </div>
      </main>
      <section>
        <div class="pt-2 pb-4 text-center"><h5 class="mr-auto ml-auto"></h5></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card ">
                            <img class="card-img-top"  alt=" ">
                            <div class="card-body text-center">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text"></p>
                                <div class="form-inline">
                                    <a href="#" class="btn btn-outline-primary mr-auto ml-auto"></a>
                                </div>  
                            </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card ">
                            <img class="card-img-top" alt=" ">
                            <div class="card-body text-center">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text"></p>
                                <div class="form-inline">
                                    <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
                                </div>  
                            </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card ">
                            <img class="card-img-top"  alt=" ">
                            <div class="card-body text-center">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text"></p>
                                <div class="form-inline">
                                    <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
                                </div>  
                            </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-4 mb-4">
                        <div class="card ">
                            <img class="card-img-top"  alt=" ">
                            <div class="card-body text-center">
                                    <h5 class="card-title"></h5>
                                    <p class="card-text"></p>
                                <div class="form-inline">
                                    <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>
                                </div>  
                            </div>
                        </div>
                </div>
            </div>
        </div>
      </section>      
</ng-template>

