<main class="container mt-2">
  <div class="row">
      <div class="col-lg-2 col p-2">
          <div class="user-img m-2 mr-auto ml-auto">    
              <img src="http://www.hexatar.com/gallery/thumb/151123_044057_m096a8c37c7.png" class="img-fluid rounded-circle" alt="profile pic">
          </div>
      </div>
      <div class="col-lg-10 pt-3">
          <h2 class="display-5 text-capitalize">abbas ogaji</h2>
          <p class="lead">abbasogaji@gmail.com</p>
          <a href="user/profile/edit" class="btn btn-primary mr-1">Edit Profile</a><a href="user/settings" class="btn btn-secondary">Settings</a>
      </div>
  </div>
</main>
<section>
  <div class="pt-2 pb-4 text-center"><h5>My Repository</h5></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-4 mb-4">
                  <div class="card ">
                      <img class="card-img-top" src="https://raw.githubusercontent.com/abbasogaji/angularUX-skeleton-screen/master/src/assets/img/1.jpg" alt="Card image cap">
                      <div class="card-body text-center">
                              <h5 class="card-title">Get the best out of bootstrap 4</h5>
                              <p class="card-text">i dunno this is demo bro</p>
                          <div class="form-inline">
                              <a href="#" class="btn btn-outline-primary mr-auto ml-auto">View</a>
                          </div>  
                      </div>
                  </div>
          </div>
          <div class="col-lg-3 col-md-4 mb-4">
                  <div class="card ">
                      <img class="card-img-top" src="https://raw.githubusercontent.com/abbasogaji/angularUX-skeleton-screen/master/src/assets/img/4.jpg" alt="Card image cap">
                      <div class="card-body text-center">
                              <h5 class="card-title">Love is free shipping away</h5>
                              <p class="card-text">learn all you need in this</p>
                          <div class="form-inline">
                              <a href="#" class="btn btn-outline-primary  mr-auto ml-auto">view</a>
                          </div>  
                      </div>
                  </div>
          </div>
          <div class="col-lg-3 col-md-4 mb-4">
                  <div class="card ">
                      <img class="card-img-top" src="https://raw.githubusercontent.com/abbasogaji/angularUX-skeleton-screen/master/src/assets/img/6.jpg" alt="Card image cap">
                      <div class="card-body text-center">
                              <h5 class="card-title">Exploring the grass lands of Africa</h5>
                              <p class="card-text">the grass the green so deal with it</p>
                          <div class="form-inline">
                              <a href="#" class="btn btn-outline-primary mr-auto ml-auto">Details</a>
                          </div>  
                      </div>
                  </div>
          </div>
          <div class="col-lg-3 col-md-4 mb-4">
                  <div class="card ">
                      <img class="card-img-top" src="https://raw.githubusercontent.com/abbasogaji/angularUX-skeleton-screen/master/src/assets/img/7.jpg" alt="Card image cap">
                      <div class="card-body text-center">
                              <h5 class="card-title">Roman PSD stuffs and more</h5>
                              <p class="card-text">learn all you need in this</p>
                          <div class="form-inline">
                              <a href="#" class="btn btn-outline-primary mr-auto ml-auto">Details</a>
                          </div>  
                      </div>
                  </div>
          </div>
      </div>
  </div>
</section>
